<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stwórz Kategorię</title>
</head>
<body>
    <h1>Stwórz Nową Kategorię</h1>

    <form method="post" action="/app/add_category/">
        {% csrf_token %}
        <label for="nazwa">Nazwa kategorii:</label>
        <input type="text" id="nazwa" name="nazwa" required>

        <button type="submit">Stwórz Kategorię</button>
    </form>


</body>
</html>
