<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edytuj Komentarz</title>
</head>
<body>
    <h1>Edytuj Komentarz</h1>
    <form method="post" action="/app/edit_comment/{{ comment_id }}/">
        {% csrf_token %}
        <input type="hidden" name="comment_id" value="{{ comment_id }}">
        <label for="content">Nowa treść komentarza:</label>
        <textarea id="content" name="content" required></textarea>
        <br>
        <button type="submit">Zaktualizuj Komentarz</button>
    </form>
</body>
</html>